body {
  background-color: rgb(249, 255, 254);
  font-family: "Josefin Sans", sans-serif;
}

header {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: rgb(255, 109, 109);
}

header .inner-header {
  display: block;
  padding: 5px;
  border: 1px solid white;
}

.banner {
  text-align: center;
}

nav {
  text-align: center;
  border: 1px solid black;
  padding: 15px;
}

nav a[href] {
  color: red;
}

nav a[href]:hover {
  color: rgb(121, 0, 0);
}

button {
  background-color: inherit;
  font-family: inherit;
  border: none;
}

.tile {
  color: rgb(255, 82, 82);
  text-decoration: none;
  display: inline;
  font-size: 25px;
  padding: 50px;
}

.container {
  display: grid;
  grid-template-columns: .55fr 2fr;

}

.bio {
  font-size: 20px;
  width: 100%;
  float: left;
  align-self: flex-start;
}

.image img {
  padding: 6px;
  margin: 35px;
  float: left;
  border: 1px solid black;
  max-width: 100%; 
  max-height: 100%;
}

article .bio-title {
  text-align: left;
  font-family: "Bungee Outline", sans-serif;
  margin: 0;
  font-size: 65px;
}

article p {
  margin-inline: 100px;
  text-align: left;
}

article .lang-select {
  text-align: right;
  margin-top: 0;
  text-decoration: none;
}

article h3 {
  margin-inline: 70px;
}

article hr {
  border-top: 5px dotted red;
  width: 85%;
  margin-top: 0;
  margin-bottom: 50px;
}

.bio li {
  display: inline;
  float: left;
}

.projects h1 {
  font-family: "Bungee Outline", sans-serif;
  color: rgb(255, 109, 109);
  font-size: 50px;
  text-align: center;
  border: 2px solid rgb(255, 109, 109);
  margin-left: 100px;
  margin-right: 100px;
}

.projects .proj-tile {
  display: block;
  margin-inline: 375px;
  margin-bottom: 70px;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  /* add shadow on hover */
  /* box-shadow: 5px 5px 10px 2px black; */
}

.projects .proj-tile:hover {
  box-shadow: 5px 5px 10px 2px rgb(167, 178, 176);
}

.proj-tile h3 {
  margin: 20px;
}

.proj-tile p {
  margin-inline: 40px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.contact-container h1 {
  text-align: center;
  letter-spacing: 4px;
}

.contact-left {
  background-color: rgb(255, 109, 109);
  color: white;
  padding: 15px;
  display: grid;
}

.contact-right {
  padding: 15px;
}
