body {
  background-color: rgb(249, 255, 254);
  font-family: "Josefin Sans", sans-serif;
}

header {
  color: white;
  font-size: 23px;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 109, 109);
  border: 1px solid white;
  margin: 5px;
}

.banner {
  text-align: center;
  padding-top: 15px;
}

.main-nav {
  text-align: center;
  width: 100%;
  border: 1px solid black;
}

.main-nav li {
  display: inline;
  font-size: 25px;
  padding: 200px;
}

.tile {
  color: rgb(255, 82, 82);
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  font-size: 20px;
  float: right;
}

article .bio-title {
  text-align: left;
}

article p {
  margin-inline: 40px;
  text-align: left;
}

article h3 {
  margin-inline: 70px;
}

.bio li {
  display: inline;
  float: left;
}

img {
  padding: 50px;
  max-width: 80%; 
}

a[href] {
  list-style-type: none;
  color: red;
}


