.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  height: 100%;
}

.contact-container h1 {
  text-align: center;
  letter-spacing: 4px;
}

.contact-left {
  background-color: rgb(255, 109, 109);
  color: white;
  padding: 15px;
  border: 1px solid black;
  max-width: 1fr;
}

.contact-right {
  padding-inline: 40px;
  padding-top: 15px;
  text-align: center;
}


.form-element {
  margin: 30px;
}

label {
  font-size: 23px;
}

input {
  display: block;
  padding: 10px;
  width: 60%;
  border: none;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

#msg {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  padding: 10px;
  border: none;
}
